# import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counterfffffffffffff
%matplotlib inline
a= pd.read_csv('PercentagePeopleBelowPovertyLevel.csv', encoding="windows-1252")

In [11]:
a.poverty_rate.replace(['-'],0.0,inplace = True)
a.poverty_rate = percentage_people_below_poverty_level.poverty_rate.astype(float)
area_list = list(a['Geographic Area'].unique())
dictt = []
for i in area_list:
    x = a[a['Geographic Area']==i]
    summ = sum(x.poverty_rate)/len(x)
    print(summ)

20.611794871794878
18.67859154929578
25.268070953436805
22.963216266173745
16.88837056504598
13.187772925764186
9.137499999999996
12.555844155844163
18.0
17.508605664488037
23.663636363636385
13.400662251655628
18.07621145374448
13.849342105263164
15.499852941176472
12.23154761904761
14.719047619047604
20.079999999999984
22.291772151898744
16.893846153846148
10.272393822393829
9.546341463414642
17.9007225433526
13.745736434108531
26.884254143646384
19.930687318489824
16.423287671232874
12.917413793103448
12.37099236641221
12.659793814432987
8.160917431192654
22.5076749435666
11.638963210702341
19.720568335588627
12.13192019950125
14.826666666666664
20.545895020188418
16.435809018567646
12.487173666288305
10.369444444444444
22.105555555555558
15.745268542199483
19.887209302325576
19.496222095020045
11.724615384615383
13.785950413223137
14.58583473861719
14.825996810207325
21.082222222222207
12.858687258687258
9.063725490196083

In [9]:
data

   area_list  area_poverty_ratio
0         AL           20.611795
1         AK           18.678592
2         AZ           25.268071
3         AR           22.963216
4         CA           16.888371
5         CO           13.187773
6         CT            9.137500
7         DE           12.555844
8         DC           18.000000
9         FL           17.508606
10        GA           23.663636
11        HI           13.400662
12        ID           18.076211
13        IL           13.849342
14        IN           15.499853
15        IA           12.231548
16        KS           14.719048
17        KY           20.080000
18        LA           22.291772
19        ME           16.893846
20        MD           10.272394
21        MA            9.546341
22        MI           17.900723
23        MN           13.745736
24        MS           26.884254
25        MO           19.930687
26        MT           16.423288
27        NE           12.917414
28        NV           12.370992
29        NH           12.659794
30        NJ            8.160917
31        NM           22.507675
32        NY           11.638963
33        NC           19.720568
34        ND           12.131920
35        OH           14.826667
36        OK           20.545895
37        OR           16.435809
38        PA           12.487174
39        RI           10.369444
40        SC           22.105556
41        SD           15.745269
42        TN           19.887209
43        TX           19.496222
44        UT           11.724615
45        VT           13.785950
46        VA           14.585835
47        WA           14.825997
48        WV           21.082222
49        WI           12.858687
50        WY            9.063725